<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Register</title>
    <!-- Add any additional CSS or stylesheets here -->
</head>
<body>
    <h1>Register</h1>
    <form method="POST" action="/register">
        <label for="username">Username:</label>
        <input type="text" name="username" id="username" required>
        <span id="usernameError" style="color: red;"></span>
        <br>
        <label for="password">Password:</label>
        <input type="password" name="password" id="password" required>
        <br>
        <input type="submit" value="Register" id="registerButton" disabled>
    </form>
    <p>Already have an account? <a href="/login">Login here</a></p>

    <!-- Display flash messages if any -->
    {% with messages = get_flashed_messages() %}
        {% if messages %}
            <ul>
                {% for message in messages %}
                    <li>{{ message }}</li>
                {% endfor %}
            </ul>
        {% endif %}
    {% endwith %}
<script src="{{ url_for('static', filename='js/index.js') }}"></script>
</body>
</html>
